body {
	min-width: 290px;
	color: #003459;
	background-color: #ffffff;
	font-family: 'Ubuntu', sans-serif;
	line-height: 1.5;
}

section {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#main-doc{
	  	position: absolute;
	  	margin-left: 305px;
	  	margin-right: 10px;

      color: #1A110F;
}
