#navbar{
	  	position: fixed;
	  	min-width: 200px;
	  	top: 8px;
	  	left: 0px;
	  	width: 300px;
	  	height: 100%;
	  	border-right: solid;
	  	border-color: #00171F;

      background-color: #5C3348;
}

#navbar ul{
	  	height: 90%;
}

#navbar li{
	  	list-style: none;
	  	position: relative;
	  	width: 100%;
}

.nav-link{
	  	color: #F1E5E9;
	  	display: block;
	  	padding-top: 8px;
	  	padding-bottom: 8px;
	  	text-decoration: none;
}
.sub-nav-link{
	  	color: #F1E5E9;
	  	display: block;
	  	padding-top: 8px;
	  	padding-bottom: 8px;
	  	padding-left: 10px;
      margin-left:10px;
	  	text-decoration: none;

      border-left: solid;
      border-color: #F1E5E9;
      border-width: 2px;
}
#navbar header{
  color: #F1E5E9;
  margin: 10px;
  text-align: center;
  font-size:25px;
	border: solid;
	border-color: #F1E5E9;
}

#navbar a:hover{
  animation-name: navbar-color-change;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}
@keyframes navbar-color-change {
  100% {
    color: #ffffff;
  }
}
