#head{
  display: flex;
  justify-content: space-evenly;
  position: fixed;
  min-width: 50px;
  top: 0px;
  z-index: 10;

  color: #1A110F;
  background-color: #ffffff;

  padding:3px 10px 0px 10px;
}

#main-doc a {
  text-decoration: none;
  color: #844866;
}

#main-doc a:hover{
  animation-name: font-color-change;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}
@keyframes font-color-change {
  100% {
    color: #361C28;
  }
}

h2{
  background-color: #CBB9BF;
  border-left: solid;
  border-color: #97727E;

  padding: 5px 0px 5px 5px;
}
